footer.content-info{	
	font-family: $menu-font;
	position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	.footer-top{	
		height: 50px;
		position: relative;
		text-transform: uppercase;
		font-size: $menu-font-size;
		width: 100%;
		background: rgb(22,18,13);
		color: #BE9F57;
		box-shadow:         0px -15px 30px 0px rgba(0, 0, 0, 0.4);
		.container{ 
			div{  
				p{
					margin-top: 25px;
					transform: translateY(-50%);
					&:before{
						content: "";
						width: 21px;
						height: 22px;
						margin-left: -35px;
						position: absolute;
					}
				}				
			}
			.offnungszeiten{
				p{
					&:before{
						width: 22px;
						background-image: url(../images/clock.png);
					}
				}
			}
			
			.reservierung{
				    margin-left: 5px;
				p {
					transform: translateY(-50%);
					&:before{
						background-image: url(../images/reserve.png);
					}
				}
			}
			.verpassen{
				p{
					&:before{
						height: 19px;
						margin-top: 2px;
						background-image: url(../images/mail.png);
					}
					
				}
				
			}
		}
	}
	
	.footer-main{
		padding-top: 16px;
		background-color:  #BE9F57;
		color: #16120d;
		#offnungszeiten{
				margin-left: -11px;
				.tableTitle{
					text-transform: uppercase;
					font-size: 13px;
				}
				div.row{
					font-size: 13px;
					margin-left: 0;
					/* height: 10px; */
					padding-top: 1px;
					padding-bottom: 1px;
				}
		}
		#reservierung{
				.lead{
					font-size: 22px;
					margin-bottom: 13px;
					word-spacing: 1px;
					margin-left: -5px;
				}
				.reserve-btn{
					text-transform: uppercase;
					border: none;
					background: #2A1E14;
					color: #BE9F57;
					text-align: center;
					padding-top: 9px;
					padding-bottom: 9px;
					padding-left: 14px;
					padding-right: 15px;
					font-size: 13px;
					margin-bottom: 15px;
					transition: all .3s;
					&:hover{
						background-color: #000;
					}
				}
				.info-email{
					font-size: 13px;
					color: #16120d;
				}
		}
		#verpassen{
			width: 290px;
			float:right;
			padding-left: 25px;
			p{
				margin-bottom: -3px;
				line-height: 19px;
				word-spacing: 1px;
				font-size: 13px;
			}
			.email{
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color:    #16120d;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color:    #16120d;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color:    #16120d;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color:    #16120d;
				}
				width: 100%;
				padding-top: 7px;
				padding-bottom: 7px;
				padding-left: 9px;
				padding-right: 35px;
				background: 0 0;
				border: 1px solid #836B3C;
				color: #16120d;
				transition: background-color .3s;
				&.error{
					background-color: #DD3333;
				}
        float: left;
        margin-top: 0 !important;
			}
			.send{
				width: 34px;
				/*height: 37px;*/
				background-image: url(../images/email_arrow.png);
				background-position: center;
				background-repeat: no-repeat;
				background-color: #2A1E14;
				margin-left: -35px;
				border: 1px solid #2A1E14;
				/*transform: translateY(30%);*/
				/*transition: all .3s;*/
				&:hover{
					background-color: #000;
				}
				/*margin-bottom: -12px;*/
        padding-top: 7px;
				padding-bottom: 7px;
        float: left;
        transform: initial !important;
        margin-top: 0 !important;
			}
			.checkboxes{
				display:none;
				.unique-checkbox {
					a{
						color: #16120d;
						&:hover{
							color: #16120d;
						}
					}
				  width: 19px;
				  height: 19px;
				  position: relative;
				  border: 1px solid #16120d;
				  &.license{
					margin-top: 10px;
				  }
				  label {
					width: 13px;
					height: 13px;
					position: absolute;
					top: 2px;
					left: 2px;
					cursor: pointer;
					background: #16120d;
					opacity: 0;
					transition: opacity .3s;
				  }
				  input[type=checkbox] {
					visibility: hidden;
					&:checked + label{
					  opacity: 1;
					}
				  }
				}
				 .checkbox-label{
					transform: translateY(-19px);
					margin-left: 27px;
				}
				
				p.checkbox-title{
					font-weight: bold;
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
		.mobile-footer-top{
			display:none;
		}
	}
	
	.bottom{
		padding-left: 0;
		margin-bottom: 21px;
		.social{
			float:left;
			div{
				width: 37px;
				height: 37px;
				float: left;
				background-color: #2A1E14;
				margin-right: 10px;
				background-position: center;
				background-repeat: no-repeat;
				transition: all .3s;
				&:hover{
					background-color: #000;
				}
			}
			
			.facebook{
				background-image: url(../images/fb.png);
			}
			
			.google{
				background-image: url(../images/g+.png);
			}
			
		}
		
		.bottom-menu{
			float: right;
			padding-top: 15px;
			a{
				text-transform: uppercase;
				color: #16120d;
				font-size: 13px;
				font-weight: bold;
				text-decoration: none;
			}
			span{
				margin: 0 10px;
			}
		}
	}
}

@media all and (min-width: $screen-lg-min){
	footer.content-info{
		position: fixed;
		.footer-top{
			cursor:pointer;
			div{  	
				p{
					position: absolute;
				}
			}
			.offnungszeiten{
				-margin-left: -10px;
				p{
					margin-left: 30px;
				}
				table{
					margin-top: 60px;
					float:left;
				}
			}
			.reservierung{
				p {
					margin-left: 129px;
					transform: translateY(-50%);
				}
			}
			.verpassen{
				margin-right: -15px;
				p{
					margin-left: 139px;
				}
				.footer-close-button{
						width: 22px;
						height: 9px;
						cursor: pointer;
						margin-left: 370px;
						margin-top: 20px;
						position: absolute;
						background-image: url(../images/footer_arrow_down.png);
						transition: transform .6s;
						&.closed{
							transform: rotate(180deg);
						}
					}
			}
		}
		
		.footer-main > div{
			#offnungszeiten{
				padding-left: 10px;
			}
			#verpassen{
				padding-left: 35px;
			}
			
			#reservierung{
				margin-left: 15px;
			}
			
			.bottom .social{
				margin-left: 13px;
			}
		}
		
	}
}

@media all and (max-width: $screen-lg-min - 1){
	footer.content-info{
		position:relative;
		.bottom{
			padding-left: 25px;
      padding-right: 25px;
			.bottom-menu{
				a{
					font-size: 12px;
					font-weight: bold;
				}
				span{
					margin: 0 5px;
				}
			}
		}
		.footer-top{
			display:none;
		}
		
		.footer-main{
			padding-top: 0;
			text-align: center;
      #verpassen {
        padding-right:25px;
      }
			.container{
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				.mobile-footer-top{
					display:inline-block;
					height: 50px;
					.col-xs-12.col-lg-4{
						padding-bottom: 0;
						padding-top: 0;
						p{
							margin-left: 35px;
						}
					}
					text-transform: uppercase;
					font-size: $menu-font-size;
					width: 100vw;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 20px;
					&:not(:first-of-type){
						margin-top: 20px;
					}
					background: rgb(22,18,13);
					color: #BE9F57;
					div{  
						p{
							margin-top: 25px;
							transform: translateY(-50%);
							&:before{
								content: "";
								width: 21px;
								height: 22px;
								margin-left: -35px;
								position: absolute;
							}
						}				
					}
					.offnungszeiten{
						p{
							&:before{
								width: 22px;
								background-image: url(../images/clock.png);
							}
						}
					}
					
					.reservierung{
						margin-left: 0;
						// padding-left: 0;
						// padding-right: 0;
						p {
							transform: translateY(-50%);
							&:before{
								background-image: url(../images/reserve.png);
							}
						}
					}
					.verpassen{
						p{
							&:before{
								height: 19px;
								margin-top: 2px;
								background-image: url(../images/mail.png);
							}
							
						}
						
					}
				}
				.col-xs-12.col-lg-5,.col-xs-12.col-lg-4,.col-xs-12.col-lg-3{
					
					p, button, div, input{
						text-align:center;
					}
					table tr td,table tr td p{
						text-align: left;
					}
					
					padding-top: 10px;
					padding-bottom: 10px;
					
					&#offnungszeiten{
						margin: 0 auto;
						
						div.row, p.tableTitle{
							text-align: left;
							margin-left: 0;
							font-size: 12px;
						}
						
					}
					
					&#reservierung {
						.reserve-btn{
							background: #2a1e14;
							padding-top: 15px;
							padding-bottom: 15px;
							padding-left: 15px;
							padding-right: 15px;
						}
						.lead{
							color:inherit;
							text-decoration:none;
							margin-left: 0px;
						}
					}
					
					&#verpassen{
						width: 100%;
						p{
							text-align: left;
							font-size: 16px;
						}
						float: none;
						left: 50%;
						transform: translateX(-50%);
						.email{
							margin-bottom: 50px;
						}
						.send{
							transform: translateY(12px) translateX(2%);
						
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 373px){
	div#offnungszeiten>div:first-of-type{
		float: none;
		margin-bottom: 20px;
	}
}